<div class="form_item_block">
    <label>GoCD Jsonnet files global pattern:</label>
    <input type="text" ng-model="file_pattern" ng-required="false" placeholder="**/*.jsonnet,**/jsonnetfile.json" />
    <span class="form_error" ng-show="GOINPUTNAME[file_pattern].$error.server">{{ GOINPUTNAME[file_pattern].$error.server }}</span>
    <label>Jsonnet command:</label>
    <input type="text" ng-model="jsonnet_command" ng-required="false" placeholder="jsonnet" />
    <span class="form_error" ng-show="GOINPUTNAME[jsonnet_command].$error.server">{{ GOINPUTNAME[jsonnet_command].$error.server }}</span>
</div>
