<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="jsonnet.config.plugin" version="1">
    <about>
        <name>Jsonnet Configuration Plugin</name>
        <version>${version}</version>
        <target-go-version>${goCdVersion}</target-go-version>
        <description>
            GoCD pipelines and environments configuration in Jsonnet
        </description>
        <vendor>
            <name>sentry.io</name>
            <url>https://github.com/getsentry/gocd-jsonnet-config-plugin</url>
        </vendor>
    </about>
</go-plugin>
